.player-table {
  text-align: center;
  background-color: transparent;
  border-width: 2rem;
}

.player-table > .row > .player-cell {
  background-color: lightskyblue;
}

.player-table > .row > .center-cell {
  background-color: lightgrey;
}

.win-prompt {
  font-size: 20px;
  color: deeppink;
}

.draw-prompt {
  font-size: 20px;
  color: darkgrey;
}

.deal-in-prompt {
  font-size: 20px;
  color: blue;
}